@import url('https://fonts.googleapis.com/css?family=Inter:regular&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:regular&display=swap');

%inter-400 {
  font-family: 'Inter';
  font-weight: 400;
}

%roboto-400 {
  font-family: 'Roboto';
  font-weight: 400;
}